$page-background-color: #ebebeb;
$app-padding-top: 80px;
$blue-color: #15b0fc;
$gray-color: #c8d3db;
$button-background-color: #eeeeee;
$button-background-color-hover: #e2e1e1;
$font_family: 'Open Sans', sans-serif;
$text-color: #394556;
